+++
title = "Erebus - Educational Rescue Simulation Platform"
linkTitle = "Erebus"

+++

{{< blocks/cover title="Welcome to Erebus: Educational Rescue Simulation Platform" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/installation" >}}">
		Get Started <i class="fas fa-rocket ml-2 "></i>
	</a>
	<p class="lead mt-5">Bringing simulation robotics education to schools around the world.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Erebus is a rescue simulation competition environment designed for intermediate to highly experienced programmers.

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-download" title="Download Latest Release" %}}
The current latest release is **Ver.21.1.2**.
See the [documentation](docs/installation) for installation instructions.

<a class="btn btn-sm btn-primary" href="https://gitlab.com/api/v4/projects/22054848/packages/generic/erebus/v21.1.2/Erebus-v21_1_2.zip">
	Download <i class="fas fa-download ml-2"></i>
</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="" %}}
We do a [Merge Request](https://gitlab.com/rcj-rescue-tc/erebus/erebus/-/merge_requests) contributions workflow on **GitLab**. New users are always welcome!

<a class="btn btn-sm btn-primary" href="/docs/contribution-guidelines/">
 <i class="fas fa-book ml-2">&nbsp;</i>Contribution Guidelines
</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-discord" title="Join Discord" %}}
Ask questions, get rapid response and discuss with other participants Join.

<a class="btn btn-sm btn-primary" href="https://discord.com/invite/6FJxZxk">
	<i class="fab fa-discord ml-2">&nbsp;</i>Join Discord Server
</a>
{{% /blocks/feature %}}


{{< /blocks/section >}}
